In [2]:
person = {
    "first": "Ahmed",
    "last": "Elsayes",
    "email": "ahmedelsayes@ttt.com"
}
person

{'first': 'Ahmed', 'last': 'Elsayes', 'email': 'ahmedelsayes@ttt.com'}

In [3]:
people = {
    "first": ["Ahmed", "hussam", "Ali"],
    "last": ["elsayes", "mohamed", "mostafa"],
    "email": ["ahmedelsayes@ttt.com", "hussammmajd@ttt.com", "alimost@ttt.com"]
}
people

{'first': ['Ahmed', 'hussam', 'Ali'],
 'last': ['elsayes', 'mohamed', 'mostafa'],
 'email': ['ahmedelsayes@ttt.com', 'hussammmajd@ttt.com', 'alimost@ttt.com']}

In [5]:
people['first']

['Ahmed', 'hussam', 'Ali']

In [6]:
import pandas as pd

In [9]:
df = pd.DataFrame(people)
df

    first     last                 email
0   Ahmed  elsayes  ahmedelsayes@ttt.com
1  hussam  mohamed   hussammmajd@ttt.com
2     Ali  mostafa       alimost@ttt.com

In [14]:
df['email']

0    ahmedelsayes@ttt.com
1     hussammmajd@ttt.com
2         alimost@ttt.com
Name: email, dtype: object

In [15]:
df.email

0    ahmedelsayes@ttt.com
1     hussammmajd@ttt.com
2         alimost@ttt.com
Name: email, dtype: object

In [17]:
type(df.email)

pandas.core.series.Series

In [18]:
df.loc[:,['email','first']]

                  email   first
0  ahmedelsayes@ttt.com   Ahmed
1   hussammmajd@ttt.com  hussam
2       alimost@ttt.com     Ali