In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('w2020_015_003_23-05-2019_DR-001.csv')
#data.set_option('display','max_rows',202)
data.head(203)

     0.322113219
0       0.322113
1       0.321791
2       0.322113
3       0.322113
4       0.321791
..           ...
198     0.318891
199     0.321791
200     0.322113
201     0.322435
202     0.321469

[203 rows x 1 columns]

In [4]:
data.drop(data.index[0:200], inplace=True)
data

       0.322113219
200       0.322113
201       0.322435
202       0.321469
203       0.323402
204       0.322435
...            ...
12994     0.670109
12995     0.668498
12996     0.670109
12997     0.671076
12998     0.669465

[12799 rows x 1 columns]

In [ ]:
force_values = []
count = 1
force_indx = 1
max_force = []
max_time = []
min_derivative = []
peak_indx = 300
threshold = -20
trigger = 0
subdivision = 300
# where A here represent every value recorded from the robotic instrument
force_values.append(A)
if length(force_values) == count*subdivision:

In [10]:
# FF = [5,8,7,6,9]
# FF.pop(-1)
# FF

[5, 8, 7, 6]

In [19]:
# time = 0:count/length(force_values):count;
# time(end) = [];
for time in range(0,100,10):
    print(time)

0
10
20
30
40
50
60
70
80
90